<aside class="page-sidebar">
    <div class="page-logo">
        <a href="@Url.Action("Dashboard","Home")" class="page-logo-link press-scale-down d-flex align-items-center position-relative">
            @*<img src="~/SmartAdmin/dist/img/logo.png" alt="SmartAdmin WebApp" aria-roledescription="logo">*@
            <span class="page-logo-text mr-1" style="text-align:center">StokTakip</span>
            <span class="position-absolute text-white opacity-50 small pos-top pos-right mr-2 mt-n2"></span>
        </a>
    </div>
    <!-- BEGIN PRIMARY NAVIGATION -->
    <nav id="js-primary-nav" class="primary-nav" role="navigation">
        <div class="nav-filter">
            <div class="position-relative">
                <input type="text" id="nav_filter_input" placeholder="Filter menu" class="form-control" tabindex="0">
                <a href="#" onclick="return false;" class="btn-primary btn-search-close js-waves-off" data-action="toggle" data-class="list-filter-active" data-target=".page-sidebar">
                    <i class="fal fa-chevron-up"></i>
                </a>
            </div>
        </div>
        <div class="info-card">
            <img src="~/SmartAdmin/dist/img/demo/avatars/avatar-m.png" class="profile-image rounded-circle" alt="Dr. Codex Lantern">
            <div class="info-card-text">
                <a href="#" class="d-flex align-items-center text-white">
                    <span class="text-truncate text-truncate-sm d-inline-block">
                        Sistem Yöneticisi
                    </span>
                </a>
                <span class="d-inline-block text-truncate text-truncate-sm">Admin</span>
            </div>
            <img src="~/SmartAdmin/dist/img/card-backgrounds/cover-2-lg.png" class="cover" alt="cover">
            @*<a href="~/SmartAdmin/dist/#" onclick="return false;" class="pull-trigger-btn" data-action="toggle" data-class="list-filter-active" data-target=".page-sidebar" data-focus="nav_filter_input">
                <i class="fal fa-angle-down"></i>
            </a>*@
        </div>
        <ul id="js-nav-menu" class="nav-menu">
            <li>
                <a href="#" title="Sistem Yönetim">
                    <i class="fal fa-cog"></i>
                    <span class="nav-link-text" @*data-i18n="nav.application_intel"*@>Sistem Yönetim</span>
                </a>
                <ul>
                    <li>
                        <a href="@Url.Action("Index", "User")" title="Kullanıcı Tanım">
                            <span class="nav-link-text">Kullanıcı Tanım</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Role")" title="Rol Tanım">
                            <span class="nav-link-text">Rol Tanım</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "UserRole")" title="Kullanıcı Rol Atama">
                            <span class="nav-link-text">Kullanıcı Rol Atama</span>
                        </a>
                    </li>
                    @*<li>
                        <a href="@Url.Action("Index", "Menu")" title="Menü Tanım">
                            <span class="nav-link-text">Menü Tanım</span>
                        </a>
                    </li>*@
                    <li>
                        <a href="@Url.Action("ProductDefinition", "ProductDefinition")" title="Ürün Tanım">
                            <span class="nav-link-text">Ürün Tanım</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ProductTypeDefinition", "ProductDefinition")" title="Ürün Türü Tanım">
                            <span class="nav-link-text">Ürün Türü Tanım</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" title="Stok Takip">
                    <i class="fab fa-acquisitions-incorporated"></i>
                    <span class="nav-link-text">Stok Takip</span>
                </a>
                <ul>
                    <li>
                        <a href="@Url.Action("ProductAddActivities", "ProductActivities")" title="Ürün Girişi">
                            <span class="nav-link-text">Ürün Girişi</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ProductTakeOutActivities", "ProductActivities")" title="Ürün Çıkışı">
                            <span class="nav-link-text">Ürün Çıkışı</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "StockActivities")" title="Stoktaki Ürünler">
                            <span class="nav-link-text">Stoktaki Ürünler</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="filter-message js-filter-message bg-success-600"></div>
    </nav>
    <!-- END PRIMARY NAVIGATION -->
</aside>