@using StokTakip.Shared.Utilities.Results.ComplexTypes
@model StokTakip.Entities.Dtos.ProductDefinitionListDto
@{
    Layout = "_Layout";
    //ViewBag.Title = "Ürün Tanım";
}
@if (Model.ResultStatus == ResultStatus.Success)
{
    <div id="modalPlaceHolder" aria-hidden="true"></div>
    <div class="card mb-4 mt-2">
        <div class="card-header"><i class="fas fa-table mr-1"></i>Ürün Tanım</div>
        <div class="card-body">
            <div class="spinner-border" role="status" style="display:none;">
                <span class="sr-only">Yükleniyor...</span>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered" id="productsTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Barkod</th>
                            <th>Ürün Adı</th>
                            <th>Fiyat</th>
                            <th>Miktar</th>
                            <th>Beden</th>
                            <th>Ürün Tipi</th>
                            <th>Giriş Tarihi</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model.Products)
                        {
                            <tr name="@product.ID">
                                <td>@product.ID</td>
                                <td>@product.Barcode</td>
                                <td>@product.Name</td>
                                <td>@product.Price</td>
                                <td>@product.Amount</td>
                                <td>@product.Size</td>
                                <td>@product.ProductType.Name</td>
                                <td>@product.Date.ToShortDateString()</td>
                                <td width="100px">
                                    <button class="btn btn-primary btn-sm btn-update" data-id="@product.ID"><span class="fas fa-edit"></span></button>
                                    <button class="btn btn-danger btn-sm btn-delete" data-id="@product.ID"><span class="fas fa-minus-circle"></span></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
}
@section Scripts
{
    <script src="~/js/productDefinition.js" type="application/ecmascript"></script>
}
